#img {
  margin-left: 20px;
}

.right {
  text-align: right;
  float: right;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 230px;
}

.weatherbtm {
  margin-right: 50px;
  margin-left: 40px;
}

div {
  margin-bottom: 10px;
}
