<!DOCTYPE html>
<html>
<head>
    <title>Momentum</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lucky.css') }}">
</head>
<body>
          <!-- 부트스트랩 -->
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <form class="js-form form" action="">
              <div class="form-name">
                이름 : <input type="text" placeholder="이름" required />
              </div>
              <div class="form-sex">
                성별 : 
                <input type="radio" name="sex" value="여자" required> 여자
                <input type="radio" name="sex" value="남자" required> 남자
              </div>
              <div class="form-birth">
                생년월일 :
                <input type="text" maxlength="4" placeholder="년(4자)" required>
                <input type="text" minlength="2" maxlength="2" placeholder="월" required>
                <input type="text" minlength="2" maxlength="2" placeholder="일" required>
              </div>
              <div class="form-interest">
                관심사 : 
                <input type="checkbox" name="chk_info" value="정치"> 정치
                <input type="checkbox" name="chk_info" value="경제"> 경제
                <input type="checkbox" name="chk_info" value="사회">  사회
                <input type="checkbox" name="chk_info" value="생활/문화"> 생활/문화
                <input type="checkbox" name="chk_info" value="세계"> 세계
                <input type="checkbox" name="chk_info" value="IT/과학"> IT/과학
              </div>
              <div class="form-area">
                지역 : <input type="text" placeholder="지역">
              </div>
              <input type="submit">
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <!-- 날씨 -->
                <div id="wheather">
                  <h4> wheather </h4>
                  위치정보를 제공하는데 동의하시겠습니까? <button onclick="getLocation()">확인</button>
          
                  <div id="ViewWheather">
          
                  </div>
              </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <!-- 이름 -->
                    <!-- 이름 출력해주는 창 -->
                     <h4 class="js-greeting greeting"></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <!-- 시간 -->
                    <div class="js-clock">
                      <h1 class="js-title">00:00</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                옷차림
                <div id="clothes">
                  <h4> clothes </h4>
                  <div id = "ViewClothes">
            
                  </div>
                </div>
            
              </div>
              <div class="col-md-6">
                <h3>
                  <img class="lucky_img" src="{{ url_for('static', filename='img/lucky_img.png') }}" >
                  오늘의 운세
                </h3>
                <div>
                    <p>
                        {% if num == None %}
                            <h5> 아직 아무 값도 입력이 안되었습니다. </h5>
                        {% else %}
                            <p class="lucky_strong">
                                {{char1}}
                            </p>
                            <p>
                                {{char2}}
                            </p>
                        {% endif %}
                    </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            할일
            <div class="js-todo">
              <!-- <h3>할 일📝</h3> -->
              <form action="" class="js-toDoForm">
                <input type="text" placeholder="todo를 입력해주세요" />
              </form>
              <!-- todo 리스트 띄워줄 창 -->
              <h3>할일</h3>
              <ul class="js-toDoList"></ul>
              <h3>-------------------</h3>
              <div class="js-toDoComListTitle">
                <h3>완료</h3>
                <button class="delToDoComBtn">🗑</button>
              </div>
              <ul class="js-toDoComList"></ul>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <h3>
                <img class="news_img" src="{{ url_for('static', filename='img/news_img.png') }}" >
                베스트 기사
              </h3>
                {% if num != None %}
                {% for i in range(0, category_len) %}
                    <div class="news_category">
                        <p class="as">
                            {{category[i]}}
                        </p>
                        {% for j in range(3) %}
                            <a href="{{link[i][j]}}">
                                <p>
                                    {{content[i][j]}}
                                </p>
                            </a>
                            
                        {% endfor %}
                    </div>
                {% endfor %}
                {% endif %}

          </div>
        </div>
      </div>
    </div>
          <!-- js -->
          <script src="{{ url_for('static', filename='js/clock.js') }}"></script>
          <script src="{{ url_for('static', filename='js/clothes.js') }}"></script>
          <script src="{{ url_for('static', filename='js/greeting.js') }}"></script>
          <script src="{{ url_for('static', filename='js/lucky.js') }}"></script>
          <script src="{{ url_for('static', filename='js/news.js') }}"></script>
          <script src="{{ url_for('static', filename='js/todo.js') }}"></script>
          <script src="{{ url_for('static', filename='js/weather.js') }}"></script>
</body>
</html>
